:root {
	--page-margin: 0mm;
	--page-width: 91mm;
	--page-height: 55mm;
	--print-margin: 3mm;
	--print-width: calc(var(--page-width) + (2 * var(--print-margin)));
	--print-height: calc(var(--page-height) + (2 * var(--print-margin)));
}
body {
	margin: 0;
	padding: 0;
}
.page {
	position: relative;
	left: 0;
	top: 0;
	width: var(--print-width);
	height: var(--print-height);
	margin: 0;
	padding: 0;
	border: none;
	page-break-after: always;
}
.container {
	/* page size */
	position: absolute;
	left: calc(var(--print-margin) - 1px);
	top: calc(var(--print-margin) - 1px);
	width: calc(var(--page-width) - 2 * var(--page-margin));
	height: calc(var(--page-height) - 2 * var(--page-margin));
	padding: var(--page-margin);
	/* show print size with gray line */
	border: solid gray 1px;
}

@media print {
	@page {
		margin: 0;
		padding: 0;
		size: var(--print-width) var(--print-height);
		marks: crop;
		bleed: var(--print-margin);
	}
	.container {
		left: var(--print-margin);
		top: var(--print-margin);
		border: none;
	}
}
