body {
	margin: 0;
	padding: 0;
}
.page {
	position: absolute;
	left: 0;
	top: 0;
	width: 97mm;
	height: 61mm;
	margin: 0;
	padding: 0;
	border: none;
}
.container {
	/* page size */
	position: absolute;
	left: calc(3mm - 1px);
	top: calc(3mm - 1px);
	width: 91mm;
	height: 55mm;
	/* show print size with gray line */
	border: solid gray 1px;
}

@media print {
	@page {
		margin: 0;
		padding: 0;
		size: 97mm 61mm;	/* 91x55mm + 3mm margin */
	}
	.container {
		left: 3mm;
		top: 3mm;
		border: none;
	}
}
